In [48]:
import pandas as pd
import psycopg2 as pg

In [ ]:
con = pg.connect(
    host='localhost',
    dbname='postgres',
    user='postgres',
    password='@Duarte123'
)

In [24]:
# Guardando dados a ser inserido na variavel
id_chapa = '4'
nome = 'Chapa D'

In [17]:
# Abrindo cursor
cursor = con.cursor()

In [18]:
# Definindo dados a ser inserido
cursor.execute('insert into chapa (id_chapa, nome) values (%s, %s)',
               (id_chapa, nome))

In [19]:
# Guardando no cursor
con.commit()

In [ ]:
# Ver tabela chapa
cursor.execute('select * from chapa;')
cursor.fetchall()

In [ ]:
# Adicionar tabela, caso já exista exibira msg falha
try:
    cursor.execute('insert into chapa (id_chapa, nome) values (%s, %s)',
               (id_chapa, nome))
    con.commit()
    print('sucesso')
except:
    cursor.execute('ROLLBACK')
    print('Falha')

In [27]:
# Fechando cursor e conexão
cursor.close()
con.close()

In [45]:
#Conexão usando sqlalchemy
import sqlalchemy
from sqlalchemy import create_engine

In [ ]:
con2 = 'postgresql://postgres:postgres@localhost/postgres'
sqlalchemy.create_engine(con2)

In [47]:
query = "select * from chapa"  
df = pd.read_sql_query(query, con2)

In [50]:
df

   id_chapa     nome
0         1  Chapa A
1         2  Chapa B
2         3  Chapa C
3         4  Chapa D